<div class="card"
    style="text-align: center; padding: 15px; background-color: transparent; border: none; color: white; min-height: 500px;">
    <h3 class="homePageHeaderTitle"><img class="baseballIcon" src="../assets/images/baseballicon.png" /> Bittle Battle Baseball
        <img class="baseballIcon" src="../assets/images/baseballicon.png" />
    </h3>
    <hr />
    <div class="card-container">
        <p style="font-size:small;">Bittle Battle Baseball is a baseball simulator based upon real historical season statistics for every player. You can
            choose any two teams from any season going back to 1876 to play against one another in a head-to-head simulation where
            you will get to manage the game, see each play take place, and find out the ultimate outcome of the game. Outcomes are based on algorithms of statistical probabilities. LET HISTORY COME
            ALIVE!!!</p>

        <hr class="primary" />
        <img style="max-height: 350px; max-width: 100%" src="{{ImageCarouselURL}}" alt="{{ImageCarouselURL}}"
            title="{{ImageCarouselURL}}">
        <hr class="danger" />

        <button style="padding: 20px;" class="btn btn-primary" routerLink="/searchteams"><img
                style="cursor:pointer; max-width: 15px;" src="../assets/images/baseballicon.png" /> MLB Team Seasons -
            New Game <i class="fa fa-arrow-right"></i></button>
            <br />
            <br />
        <p>All data comes from and is the property of Major League Baseball: <a
                href="https://www.mlb.com/tac"
                target="_blank">MLB</a> and Baseball-Reference.com : <a
                href="http://www.baseball-reference.com" target="_blank">Baseball-Reference</a></p>
        <img src="../assets/images/mlbLogo.jpg" routerLink="/gameconfigure">
        <p>All of the data is property of MLB/MLB Advanced Media, and you should refer to their <a target="_blank"
                href="http://gdx.mlb.com/components/copyright.txt">terms of use</a> before using any of it in projects.
        </p>
        <p>Use of any content on this page acknowledges agreement to the terms posted here <a
          href="https://www.mlb.com/tac"
          target="_blank">MLB</a> : <a
          href="http://gdx.mlb.com/components/copyright.txt" target="_blank">MLB Copyright</a> </p>

          <hr />
          <p>© 2024 Bittle Battle Baseball</p>
          <p>Contact information: <a href="mailto:BittleBattleBaseball@gmail.com">
              BittleBattleBaseball@gmail.com</a>.</p>
    </div>
</div>
